.image-container {
  display: flex;
}

.image-container > div {
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.im {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

img {
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
